.material-icons{
  color:rgba(255,255,255,0.8);
  cursor: pointer;
}

.switchHolder{
  background-color: rgba(0,0,0,0.8);
  width: 100px;
  display:inline-block;
  padding-bottom:3px;
  border-radius: 5px;
}
.bodyClass{
  text-align: center;
  background-color: grey;
}
.switchall{
  display: inline-block;
  width:45%;
  border-radius: 3px;
  padding-top: 3px
}
.switchmess{
  display: inline-block;
  width:45%;
  border-radius: 3px;
  padding-top: 3px
}
.switchbottom{

}
.switchtop{
  color:rgba(255,255,255,0.8);
  font-size: 0.8em;
}
.clickedclass{
  background-color: green;
}
.mainholder{
  background-color: rgba(0,0,0,0.8);
  display: inline-block;
  border-radius: 5px;
}
.addNewHolder{
  display: inline-block;
  vertical-align: super;
  color: white;
  padding: 10px;
}
